body {
  /* font-family: "Manrope", sans-serif; */
  font-family: var(--ff-base);
}

/* Headings */
:where(h1, h2, h3) {
  font-family: var(--ff-accent);
}

/* links */
a {
  color: currentColor;
}

/* Main content */
main,
footer {
  background-color: var(--clr-neutral-300);
}
