body {
  font-family: "Manrope", sans-serif;
}

/* Headings */
:where(h1, h2, h3) {
  font-family: "Anton", sans-serif;
}

/* links */
a {
  color: currentColor;
}

/* Main content */
main,
footer {
  background-color: var(--clr-neutral-300);
}
