/** 
 * ABSTRACTS
 * Custom properties, keyframes, and other abstracts
 * ================================================================ */
:root {
  /* Accent color */
  --clr-accent: #ffd15b;
  --clr-accent-contrast: #1b1b1b;

  /* Neutral color */
  --clr-neutral-900: #1b1b1b;
  --clr-neutral-700: #737373;
  --clr-neutral-500: #c4c4c4;
  --clr-neutral-300: #e5e5e5;
  --clr-neutral-100: #ffffff;

  /* Fonts */
  --ff-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 300;
  --ff-accent: "Anton", sans-serif;

  /* Border */
  --radius-100: 0.25rem;
  --radius-200: 0.65rem;
  --radius-300: 1.315rem;
}
/** 
 * RESET
 * ================================================================ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* set ouline */
*:focus-visible {
  outline: 0.25rem solid var(--clr-accent);
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p:empty {
  display: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}
/* Remove link undeline */
a[class] {
  text-decoration: none;
}
/* Add pointer on clickable elements */
a,
button {
  cursor: pointer;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}
img,
picture,
svg {
  vertical-align: middle;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/** 
 * FONTS
 * Load from cdn for better performance and privacy
 * ================================================================ */
/* anton-latin-400-normal */
@font-face {
  font-family: "Anton";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/anton@latest/latin-400-normal.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/anton@latest/latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* manrope-latin-wght-normal */
/*
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*/
body {
  /* font-family: "Manrope", sans-serif; */
  font-family: var(--ff-base);
}
/* Headings */
:where(h1, h2, h3) {
  font-family: var(--ff-accent);
}
/* links */
a {
  color: currentColor;
}
/* Main content */
main,
footer {
  background-color: var(--clr-neutral-300);
}
.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(2rem, 4vw + 0.5rem, 4rem);
  background-image: url("/assets/images/header-background.1920.webp"), url("/assets/images/header-background.20.webp");
  background-position: center;
  background-size: cover;
}
.site-header__logo {
  align-self: flex-start;
  border-radius: var(--radius-100);
  padding: 0.5rem;
}
.site-header__content {
  display: grid;
  gap: 2rem;

  max-width: 50rem;
  padding-block: 10vw;
}
.site-header__title {
  font-size: clamp(1.25rem, 4vw + 0.5rem, 2.75rem);
  line-height: 1.4;
  color: var(--clr-accent);
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
}
.site-footer {
  padding: 4rem;
}
.site-footer__text {
  color: var(--clr-neutral-900);
  text-align: center;
}
.search-form {
  display: flex;
  align-items: center;

  padding: 0.5rem;
  background-color: var(--clr-neutral-100);
  border-radius: var(--radius-200);
}
.search-form--overflown {
  position: fixed;
  width: 50vw;
  left: 50%;
  top: 50%;
  z-index: 1001;
  box-shadow: 0 0 0 100vmax rgba(0 0 0 / 0.8);
  transform: translate(-50%, -50%);
}
.search-form:has(.search-form__input:focus-within) {
  outline: 0.25rem solid var(--clr-accent);
}
.search-form__key-helper {
  font-family: monospace;
  color: var(--clr-neutral-700);
  margin-inline: 0.5rem;
}
.search-form__label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.search-form__input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.search-form__button {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: var(--radius-200);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}
.search-form__button:hover,
.search-form__button:focus {
  background-color: var(--clr-accent);
  color: var(--clr-accent-contrast);
}
/* Recipe-cards list */
.recipes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  gap: 1.875rem;
  width: min(100%, 1200px);
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: clamp(2rem, 4vw + 0.5rem, 4rem);
}
.recipes__no-recipes {
  grid-column: 1 / -1;
  padding: 1.25rem;
  background-color: var(--clr-neutral-100);
  border-radius: var(--radius-100);
  border: 1px solid var(--clr-neutral-500);
  text-align: center;
  color: var(--clr-neutral-900);
}
/* Recipe-card Card */
.recipe-card {
  position: relative;
  display: grid;
  align-content: start;
  gap: 1.25rem;
  border-radius: var(--radius-300);
  overflow: hidden;
  background-color: var(--clr-neutral-100);
}
/* Recipe card Header */
.recipe-card__cover {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}
.recipe-card__cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe-card__header,
.recipe-card__body {
  padding-inline: 1.25rem;
}
/* Recipe card Body */
.recipe-card__body {
  display: grid;
  gap: 1.25rem;
}
.recipe-card__title {
  font-size: 1.25rem;
  line-height: 1.4;
  text-wrap: balance;
}
.recipe-card__time {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background-color: var(--clr-accent);
  color: var(--clr-accent-contrast);
  border-radius: 100vmax;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}
.recipe-card__description-title,
.recipe-card__ingredients-title {
  color: var(--clr-neutral-700);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-weight: 400;
}
.recipe-card__description-text {
  margin-block: 1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.recipe-card__ingredients-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  padding: 0;
  list-style: none;
}
.recipe-card__ingredient-name {
  display: block;
  font-weight: 500;
  font-size: 0.85rem;
}
.recipe-card__ingredient-quantity,
.recipe-card__ingredient-unit {
  color: var(--clr-neutral-700);
}
.attributes__title {
  grid-column: 1 / -1;
  color: var(--clr-neutral-700);
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.attributes {
  display: grid;
  gap: 0.85rem;
  font-size: 0.85rem;
  line-height: 1.5;
}
.attribute {
  display: grid;
  gap: 0.25rem;
}
.attribute__content {
  color: var(--clr-neutral-700);
}
.filters {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  width: min(100%, 1200px);
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: clamp(2rem, 4vw + 0.5rem, 4rem);
  background-color: var(--clr-neutral-300);
}
.filter {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 12rem;
}
.filter__trigger {
  display: flex;
  gap: 1rem;
  border-radius: var(--radius-100);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border: none;
  cursor: pointer;
}
.filter__trigger::after {
  content: "";
  width: 15px;
  height: 8px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNy41IDdMMTQgMSIgc3Ryb2tlPSIjMUIxQjFCIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
}
.filter__content {
  display: none;
  position: absolute;
  width: 100%;
  top: calc(100% - 1rem);
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--radius-100);
  background-color: #fff;
  border: none;
  cursor: pointer;
  gap: 1rem;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
.filter__content input {
  width: 100%;
}
.filter__option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.25rem;
  cursor: pointer;
}
.filter__option input {
  width: auto;
  margin-inline: 0;
}
.count {
  margin-inline-start: auto;
  font-family: var(--ff-accent);
  font-size: 1.25rem;
}
.skip-links {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 1.25rem 1rem;
  list-style: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
}
.skip-links:focus-within {
  opacity: 1;
  pointer-events: auto;
}
.skip-link {
  background-color: #fff;
  padding: 10px;
  pointer-events: none;
  border-radius: var(--radius-100);
}
.skip-links:focus-within .skip-link {
  pointer-events: auto;
}
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
