.filters {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  width: min(100%, 1200px);
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: clamp(2rem, 4vw + 0.5rem, 4rem);
}

.filter {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 12rem;
}
.filter__trigger {
  display: flex;
  gap: 1rem;
  border-radius: var(--radius-100);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border: none;
  cursor: pointer;
}
.filter__trigger::after {
  content: "";
  width: 15px;
  height: 8px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNy41IDdMMTQgMSIgc3Ryb2tlPSIjMUIxQjFCIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
}
.filter__content {
  display: none;
  position: absolute;
  width: 100%;
  top: calc(100% - 1rem);
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--radius-100);
  background-color: #fff;
  border: none;
  cursor: pointer;
  gap: 1rem;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.filter__content input {
  width: 100%;
}

.filter__option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.25rem;
  cursor: pointer;
}

.filter__option input {
  width: auto;
  margin-inline: 0;
}
