@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Anton as Display font */
  @font-face {
    font-family: "Anton";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      url(https://cdn.jsdelivr.net/fontsource/fonts/anton@latest/latin-400-normal.woff2)
        format("woff2"),
      url(https://cdn.jsdelivr.net/fontsource/fonts/anton@latest/latin-400-normal.woff)
        format("woff");
  }

  /* Manrope as Body font */
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      url(https://cdn.jsdelivr.net/fontsource/fonts/manrope@latest/latin-400-normal.woff2)
        format("woff2"),
      url(https://cdn.jsdelivr.net/fontsource/fonts/manrope@latest/latin-400-normal.woff)
        format("woff");
  }
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
      url(https://cdn.jsdelivr.net/fontsource/fonts/manrope@latest/latin-700-normal.woff2)
        format("woff2"),
      url(https://cdn.jsdelivr.net/fontsource/fonts/manrope@latest/latin-700-normal.woff)
        format("woff");
  }

  html {
    font-family: "Manrope", system-ui, sans-serif;
  }
}

@layer components {
  .dropdown-button[aria-expanded="true"] {
    @apply shadow-lg rounded-es-none rounded-ee-none;
  }
  .dropdown-button[aria-expanded="true"] svg {
    @apply -scale-y-100 transition-transform;
  }
  .dropdown-content {
    @apply bg-white rounded-es-lg rounded-ee-lg shadow-lg;
  }
  .filter__list {
    @apply bg-white p-4 flex flex-col gap-2;
  }
  .filter__button {
    @apply text-left;
  }
}
